body {
  min-height: 1000px;
  padding-top: 70px;
}


	.navbar{
		min-height:70px;
	}
	.ipl-rate-basis .col-sm-1, .ipl-rate-basis .col-sm-2{
	padding-left:0;
	padding-right:10px;
	
	}
	.ipl-rate-basis {
		width: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}	
	.blk-hdr{
		color: #fff;
		padding: 10px 15px;
		border-bottom: 1px solid transparent;	
	}
	.drop-shadow, .ipl-rate-basis .panel{
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	}
	.line-shadow{
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.05);
	}
	.ipl-rate-basis .panel{
		text-align:center;
		max-width: 100px;
		float: left;
		margin: 0 10px 20px;
	}
	.ipl-rate-basis .panel-heading{
		padding: 5px;
		background-color: #0039a6;
		color: #fff;
		height: 35px;
	}
	.ipl-rate-basis .panel-title{
		font-weight:700;
		font-size:14px;
	}
	.ipl-rate-basis .panel-body{
		height:64px;
		width:100px;
	}
	/*slider*/
	.slider-selection{
		background:#00b140;
	}
	.slider-handle{
		background:#0039a6;
	}
	/*.slider-track-high, .slider-track-low{
		background:#0039a6;
	}*/
	.slider.slider-horizontal{
		width:100%;
	}
	/*range slider tooltip*/
	.slider .tooltip.bottom .tooltip-arrow{
		border-bottom-color: #0039a6;
	}
	.slider .tooltip.top .tooltip-arrow{
		border-top-color: #0039a6;
	}
	.slider .tooltip-inner{
		background-color: #0039a6;
	}
	.ipl-range-slider-block{
		margin-top:20px;
	}
	.rs-content-block{
		box-shadow: 0 0px 4px 0 rgba(0,0,0,0.16), 0 2px 3px 0 rgba(0,0,0,0.12);
		height:420px;
		padding:20px;
	}
	.range-ruler{
		height:70px;
		margin:20px 0;
		padding:0;
	}
	.range-val{
		float:right;
		font-weight:700;
	}
	.rs-content-block .well{
		border-radius: 0;
		text-align: center;
		height: 145px;
		background: #ffffff;
		border: 0;
		font-size: 14px;
		box-shadow: inset 1px 1px 1px rgba(0,0,0,.05);
		padding: 40px 10px;
	}
	.rs-content-block .well strong{
		font-size:30px;
		color:#00b140;
	}
	
	.bdr-top-green{
		border-top:6px solid #00b140;
	}
	.bdr-l{
		border-left:1px solid #efefef;
	}
	.bdr-top-blue{
		border-top:6px solid #0039a6;
	}
	.bdr-radius-0{
		border-radius:0;
	}
	g.highcharts-exporting-group {
    display: none;
}
	label.title{
		font-weight:300;
		margin-bottom
	}
	.btn-details{
		font-size: 12px;
		padding: 10px 20px;
		font-weight: 700;
	}
	
	/*table*/
	.table>thead>tr>td, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	    background: #0033a0;
	    color: #fff;
	}
	
	.uw-table .table>tbody>tr>td, .uw-table .table>tbody>tr>th, .uw-table .table>tfoot>tr>td, .uw-table .table>tfoot>tr>th, .uw-table .table>thead>tr>td, .uw-table .table>thead>tr>th{
		padding:15px 8px;
	}
	.uw-table .table>thead>tr>th{
		color:#ffffff;
	}
	.uw-table .table>thead{
		background-color:#0039a6;
	}
	.uw-table .table-hover>tbody>tr:hover{
		background-color:rgba(51, 122, 183, 0.08);
	}
	
	
	
	/*colors*/
	.ipl-blue-bg{ background-color:#0039a6 !important;}
	.ipl-blue-bdr{border-color:#0039a6 !important;}
	.ipl-blue-bg-bdr{ background-color:#0039a6;border-color:#0039a6 !important;}
	.ipl-blue-txt{color:#0039a6 !important;}
	
	.ipl-green-bg{background-color:#00b140 !important;}
	.ipl-green-bdr{border-color:#00b140 !important;}
	.ipl-green-bg-bdr{ background-color:#00b140;border-color:#00b140 !important;}
	.ipl-green-txt{color:#00b140 !important;}
	
	.ipl-red-bg{background-color:#822b2f !important;}
	.ipl-red-bdr{border-color:#822b2f !important;}
	.ipl-red-bg-bdr{background-color:#822b2f; border-color:#822b2f !important;}
	.ipl-red-txt{color:#822b2f !important;}
	
	a{color:#822b2f;}
	.fnt-wt-700{font-weight:700;}
	.fnt-wt-400{font-weight:400;}
	
	/*spacing*/
	.mrl-50{
	 margin:0 50px;
	}
	.mr-50-ml-10{
	margin:0px 50px 0 10px;
	}
	.mr-10-ml-50{margin:0px 10px 0 50px;}
	.m-0{
		margin:0;
	}
	.mr-50{
		margin-right:50px;
	}
	.mr-30{
		margin-right:30px;
	}
	.mr-20{
		margin-right:20px;
	}
	.mr-10{
		margin-right:10px;
	}
	.ml-50{
		margin-left:50px;
	}
	.ml-30{
		margin-left:30px;
	}
	.ml-20{
		margin-left:20px;
	}
	.ml-10{
		margin-left:10px;
	}
	.mt-10{
		margin-top:10px;
	}
	.mt-20{
		margin-top:20px;
	}
	.mt-15{	    margin-top: 15px;}
	.p-10{
		padding:10px;
	}
	.m-10{
		margin:10px;
	}
	.p-20{
		padding:20px;
	}
	.m-20{
		margin:20px;
	}
	.p-30{
		padding:30px;
	}
	.m-30{
		margin:30px;
	}
	.p-0{
		padding:0;
	}
	.m-center{
		margin: 0 auto;
	}
	.row-nospace{
		margin-left:0;
		margin-right:0;
	}
	.bdr-0{
		border:0;
	}
	
	.ht-400{height:400px;}
	.ht-365{height:365px;}
	.w-40p{width:40%;}
	
	.modal-dialog {
		width: 90%;
		margin: 30px auto;
	}
	.modal-body{
		height:480px;
		overflow-y:scroll;
	}